@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

/* * {
    font-family: 'Rancho', cursive;
} */

.font-rancho {
    font-family: 'Rancho', cursive;
}

.text-shadow{
    text-shadow: 0px 0px 10px #000000;
}